.container {
  margin-bottom: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
  width: 300px;
}
.searchInput {
  border: 1px solid rgb(124, 124, 124);
  border-radius: 3px;
  height: 28px;
  padding-left: 6px;
}